* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: #113d61;
  color: #ffff;
  font-family: 'Poiret One', cursive;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}
header a{
  color: #fff;
  text-decoration: none;
  text-transform:capitalize;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 10rem;
  text-shadow: 3px 2px #113d61 ;
}

header h2 {
  color: #fff;
  text-decoration: none;
  text-transform:capitalize;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 4rem;
  line-height: 1.25;


}
header a:hover {
  color: #fff;
}
.user-icon {
  font-size: 8rem;
  background-color: #fff;
  color: #113d61;
  border-radius: 50%;
}
nav {
  float: right;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;

}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav  a {
  font-size: 2.2rem;
  
}
nav ul li a:hover {
  font-size: 2rem;
  color: #fff;
  background: #113d61;
  border-radius: 10%;
}
.bg-img {
  background: url('./assets/nav-img.jpg')  center center ;
  opacity: 0.8;

}